NODE_ENV="development"
PORT="4000"
CORS_ORIGINS="http://localhost:5173"

# Database Configuration
DATABASE_URL="postgresql://user:password@host:port/database"

# Authentication & Cookies
ACCESS_TOKEN_NAME="auth_token"
JWT_SECRET="super_secret_jwt_string"
ACCESS_TOKEN_EXPIRES_IN="7d"
COOKIE_SECRET="super_secret_cookie_string"

# Cloudinary Integration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="00000000000000"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"